@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
}
.header{
    background: url(/img/Rectangle\ 11.png) no-repeat center;
    background-size: cover;
      padding: 20px 100px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
     }
    .left{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    .left-line{
        width: 2px;
        height: 50px;
        background: #014DF5;
        margin: 0px 10px;
    }
    .left-txt{
        color: #5A5A5A;
    }
    .left img{
        width: 90%;
    }
    .center{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .city{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .city a{
        text-decoration: none;
        color: #5A5A5A;
    }
    .tel{
        display: flex;
        align-items: center;
    }
    .tel p{
        color: #5A5A5A;
        font-size: 16px;
    }
    .right{
        width: 25%;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }
    .right-btn{
        display: flex;
        justify-content: center;
        background: #014DF5;
        box-shadow: 0px 1.246666669845581px 4.986666679382324px 0px #0000000F;
        border-radius: 25px;
        padding: 20px;
        transition: .2s ease-in-out;
    }
    .right-btn a{
        text-decoration: none;
        color: #fff;
        transition: .2s ease-in-out;
    }
    .right-btn:hover{
        background: #0F42B4;
    }
    .fonts i{
       margin: 0px 5px;
        color: #5A5A5A;
        font-size: 34px;
    }
    .list{
        margin-top: 100px;
        border-bottom: 2px dotted #5A5A5A;
        padding-bottom: 10px;
    }
    #menu{
        display: none;
    }
    #sidenav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: .2s ease-in-out;
    }
    #sidenav ul li{
        list-style: none;
        margin-left: 20px;
        transition: .2s ease-in-out;
    }
    #sidenav ul li a{
        text-decoration: none;
        color: #4F4F4F;
        transition: .2s ease-in-out;
    }
    #sidenav ul li a i{
        margin-left: 5px;
        color: #014DF5;
    }
    #sidenav ul li i {
        margin-left: 5px;
        color: #014DF5;
    }
    #sidenav ul li a:hover{
        border-bottom: 2px solid #2285E0;
        padding-bottom: 10px;
    }
    .main{
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap-reverse;
        padding: 0px 40px;
    }
    .left-main{
        width: 40%;
    }
    .left-main h1{
        margin-top: 10px;
        line-height: 60px;
        max-width: 630px;
        color: #050505;
        font-weight: bold;
        font-size: 46px;
    }
    .left-main img{
        width: 30%;
    }
    .left-main p{
        margin-top: 20px;
        max-width: 400px;
        color: #5A5A5A;
    }
    .right-main{
        width: 50%;
    }
    .right-main img{
        width: 80%;
    }
    .main-btn{
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: -50px;
    }
    .main-left{
        padding: 20px;
        border-radius: 10px;
        transition: .2s ease-in-out;
        background: #014DF5;
    }
    .main-left a{
        text-decoration: none;
        color: #fff;
    }
    .main-left:hover{
        background: #0F42B4;
    }
    .main-right{
        padding: 20px;
        border-radius: 10px;
        transition: .2s ease-in-out;
        background: #fff;
    }
    .main-right a{
        text-decoration: none;
        color: black;
    }
    .main-right:hover{
        background: #014DF5;
    }
    .main-right:hover a{
        color: #fff;
    }
    #price{
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
        padding: 100px 40px;
    }
    .price-text{
        color: #5A5A5A;
    }
    .price-text i{
        color: #014DF5;
        margin-left: 5px;
    }
    .price-text span{
        color: #4f4f4f;
        margin-left: 5px;
    }
    .left-price{
        background: #fff;
        padding: 20px;
        border-radius: 15px;
        margin-top: 30px;
        width: 30%;
    }
    .price-line{
        width: 100%;
        height: 2px;
        background: #5a5a5a;
        margin-top: 10px;
    }
    .main-quest{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .question{
        width: 100%;
    }
    .question-1{
        margin-top: 20px;
        width: 105%;
    }
    .question-2{
        margin-top: 20px;
        width: 104%;
    }
    .answer{
        text-align: center;
        margin-top: 10px;
        color: #5A5A5A;
    }
    .answer p{
        margin-top: 5px;
    }
    .answer-1 p{
        margin-top: 5px;
    }
    .answer-2 p{
        margin-top: 5px;
    }
    .question-right{
        color: #fff;
        background: #5a5a5a;
        padding: 10px;
        border-radius: 15px;
        transition: .2s ease-in-out;
    }
    .answer-2{
        text-align: center;
        margin-top: 10px;
        color: #5A5A5A;
    }
    .answer-1{
        text-align: center;
        margin-top: 10px;
        color: #5A5A5A;
    }
    .question-right:hover{
        background: #014DF5;
    }
    .gray{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background: #F5F7FE;
        padding: 10px;
        border-radius: 15px;
        margin-top: 20px;
    }
    .gray-txt{
        width: 300px;
        text-align: left;
    }
    .gray-price{
        width: 100px;
        text-align: center;
    }
    .gray-price p{
        color: #014DF5;
    }
    .gray-btn{
        width: 100px;
        padding: 10px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        border: 2px solid #014DF5;
        transition: .2s ease-in-out;
    }
    .gray-btn a{
        text-decoration: none;
        color: #5A5A5A;
        transition: .2s ease-in-out;
    }
    .gray-btn:hover{
        background: #014DF5;
    }
    .gray-btn:hover a{
        color: #fff;
    }
    .white{
        background: #fff;
         display: flex;
        justify-content: space-between;
        align-items: center;
         padding: 10px;
         margin-top: 20px;
         border-radius: 15px;
    }
    .price{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #raschet{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
    }
    .raschet{
        padding: 30px;
        border-radius: 20px;
        background: #014DF5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .left-raschet{
        width: 60%;
    }
    .left-raschet img{
        width: 15%;
        margin-bottom: 30px;
    }
    .left-raschet h1{
        color: #fff;
        margin-bottom: 20px;
        max-width: 400px;
    }
    .left-raschet input{
        background: none;
        padding: 10px;
        width: 350px;
        border: 1px solid #fff;
        border-radius: 15px;
        color: #fff;
        margin-bottom: 20px;
    }
    .left-raschet input::placeholder{
        color: #fff;
    }
    .raschet-btn{
        padding: 20px;
        display: flex;
        justify-content: center;
        background: #fff;
        border-radius: 10px;
        width: 350px;
        transition: .2s ease-in-out;
    }
    .raschet-btn a{
        text-decoration: none;
        transition: .2s ease-in-out;
        color: #050505;
    }
    .raschet-btn:hover{
        background: #4D84FE;
    }
    .raschet-btn:hover a{
        color: #fff;
    }
    .bottom-raschet{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        color: #fff;
    }
    .right-raschet{
        width: 40%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .num{
        margin-top: 10px;
        color: #fff;
    }
    .num p{
        margin-bottom: 10px;
    }
    .num input{
        background: #fff;
        width: 150px;
        padding: 10px;
        border: none;
    }
    .radio{
        display: flex;
    }
    .num-bottom{
        display: flex;
        margin-left: 20px;
        align-items: center;
    }
    .num-top i{
        margin-right: 10px;
    }
    .num-bottom i{
        margin-right: 10px;
    }
    .left-column{
        margin-right: 20px;
    }
    .right-column{
        margin-top: 5px;
    }
    #about-us{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
    }
    .about-us-txt{
        text-align: center;
        margin-bottom: 50px;
    }
    .about-us-txt img{
        width: 10%;
    }
    .about-us-txt h1{
        color: #050505;
        font-size: 46px;
        font-weight: bold;
        margin-top: 20px;
    }
    .about-us{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .about-us-card{
        padding: 30px;
        border-radius: 10px;
        width: 25%;
        height: 250px;
        transition: .2s ease-in-out;
        flex-direction: column;
        text-align: center;
    }
    .about-us-card:hover{
        background: #fff;
    }
    .about-us-card i{
        margin-bottom: 20px;
        color: #014DF5;
        font-size: 22px;
    }
    .about-us-card i:first-child{
        background: #014DF5;
        color: #fff;
        padding: 10px;
        border-radius: 15px;
    }
    .about-us-card h3{
        color: #050505;
        max-width: 200px;
        margin-top: 20px;
        text-align: center;
        margin-left: 20px;
    }
    #block{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
    }
    .block{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: left;
    }
    .left-block{
        width: 50%;
    }
    .left-block img{
        width: 100%;
    }
    .right-block{
        width: 50%;
        margin-top: -140px;
    }
    .right-block img{
        width: 20%;
        margin-bottom: 20px;
    }
    .right-block h1{
        font-size: 40px;
        font-weight: bold;
        max-width: 600px;
    }
    .right-block p{
        max-width: 600px;
       margin-bottom: 20px;
    }
    .block-btn{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #014DF5;
        border-radius: 15px;
        width: 150px;
        transition: .2s ease-in-out;
    }
    .block-btn a{
        text-decoration: none;
        color: #050505;
        transition: .2s ease-in-out;
    }
    .block-btn:hover{
        background: #014DF5;
    }
    .block-btn:hover a{
        color: #fff;
    }
    #uslugi{
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
        padding: 100px 40px;
    }
    .uslugi-txt{
        text-align: center;
        margin-bottom: 40px;
    }
    .uslugi-txt h1{
        font-size: 46px;
        font-weight: bold;
    }
    .uslugi-txt img{
        width: 10%;
    }
    .uslugi{
        flex-direction: column;
        align-items: center;
    }
    .right-otziv-txt i{
        color: #5A5A5A;
        background: #E6EDFE;
        padding: 10px;
        margin-left: 5px;
        border-radius: 15px;
    }
    .uslugi-top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .card i{
        background: #fff;
        padding: 10px;
        border-radius: 15px;
        transition: .2s ease-in-out;
        font-size: 22px;
        color: #5A5A5A;
        margin-bottom: 20px;
    }
    .card{
        width: 25%;
        background: #F4F6F8;
        padding: 20px;
        border-radius: 15px;
        transition: .2s ease-in-out;
    }
    .card p{
        color: #5A5A5A;
        transition: .2s ease-in-out;
        max-width: 300px;
        margin: 20px 0px;
    }
    .card:hover{
        background: linear-gradient(225deg, #28C1D6 0%, #014DF5 100%);
        color: #fff;
    }
    .card:hover p{
        color: #fff;
    }
    .card:hover a{
        color: #fff;
    }
    .card:hover i{
        color: #fff;
        background: #4043FF;
    }
    .card:hover .card-btn{
        background: #fff;
        color: #050505;
    }
    .card:hover .card-btn p{
        color: #050505;
    }
    .card-btn{
        background: #014DF5;
        display: flex;
        justify-content: center;
        transition: .2s ease-in-out;
        border-radius: 10px;
        width: 160px;
        margin-top: 20px;
        text-align: center;
        margin-left: 60px;
    }
    .card-btn p{
        max-width: 200px;
        color: #fff;
    }
    .card a{
        text-decoration: underline;
        color: #5A5A5A;
    }
    .uslugi-bottom{
        margin-top: 30px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .right-otziv-txt-1{
        margin-top: 20px;
        text-align: right;
        margin-right: 50px;
    }
    .right-otziv-txt-1 i{
        color: #5A5A5A;
        background: #E6EDFE;
        padding: 10px;
        margin-left: 5px;
        border-radius: 15px;
    }
    #vibor{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
    }
    .vibor{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .left-vibor{
        color: #050505;
        width: 40%;
    }
    .left-vibor img{
        width: 20%;
        margin: 20px 0px;
    }
    .right-vibor{
        width: 60%;
        margin-left: 80px;
    }
    .right-vibor img{
        width: 30%;
        background: #E6EDFE;
        padding: 10px;
    }
    #otziv{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover; 
    }
    .otziv-txt{
        padding: 0px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .left-otziv-txt h1{
        color: #050505;
        font-size: 46px;
        font-weight: bold;
    }
    .right-otziv-txt i{
        color: #5A5A5A;
        background: #E6EDFE;
        padding: 10px;
        margin-left: 5px;
        border-radius: 15px;
    }
    .otziv{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .left-otziv{
        box-shadow: 8px 8px 30px 0px #F3F5FB;
        background: #ffff;
        padding: 20px;
        border-radius: 15px;
    }
    .top-otziv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .left-top{
        display: flex;
        align-items: center;
    }
    .name h2{
        background: #E6EDFE;
        color: #014DF5;
        padding: 10px;
        border-radius: 15px;
    }
    .user-name{
        text-align: left;
        margin-left: 10px;
    }
    .user-name p{
        color: #5A5A5A;
    }
    .user-name p:first-child{
        color: #4D84FE;
    }
    .right-top i{
        color: gold;
        font-size: 20px;
    }
    .middle-otziv{
        width: 500px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .middle-otziv p{
        font-weight: 500;
    }
    .bottom-otziv a{
        text-decoration: underline;
        color: #4043FF;
    }
    .right-otziv{
        box-shadow: 8px 8px 30px 0px #F3F5FB;
        background: #ffff;
        padding: 20px;
        border-radius: 15px;
        margin-left: 30px;
    }
    .video{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .video-card{
        width: 30%;
    }
    .video-card img{
        width: 80%;
        border-radius: 20px;
    }
    .video-txt{
        margin-left: 20px;
        color: #ffff;
        margin-top: -100px;
    }
    .video-txt i{
       position: relative;
       top: -35px;
       left: 80px;
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 15px;
    }
    .can-top{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .can-card{
        background: #fff;
        padding: 40px;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .left-can i{
        color: #fff;
        margin-right: 10px;
        font-size: 30px;
        background: #014DF5;
        padding: 10px;
        border-radius: 15px;
    }
    .right-can p{
        margin-top: 10px;
        color: #5A5A5A;
        max-width: 340px;
    }  
    .can-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .uslugi-txt p{
        color: #014DF5;
    }
    .right-otziv-txt-1{
        margin-top: 20px;
        text-align: right;
        margin-right: 50px;
    }
    .right-otziv-txt-1 i{
        color: #5A5A5A;
        background: #E6EDFE;
        padding: 10px;
        margin-left: 5px;
        border-radius: 15px;
    }
    #consultation{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover;
    }
    .consultation{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #014DF5;
        padding: 50px;
        border-radius: 20px;
    }
    .left-consultation{
        color: #fff;
    }
    .left-consultation img{
        width: 20%;
    }
    .left-consultation p{
        max-width: 480px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .left-consultation i{
        color: #E6EDFE;
        margin-right: 5px;
    }
    .right-consultation input{
        background: #3775FF;
        padding: 15px;
        width: 350px;
        border: 1px solid #fff;
        border-radius: 15px;
        color: #fff;
        margin-bottom: 30px;
    }
    .right-consultation input::placeholder{
        color: #fff;
    }
    .consultation-btn{
        padding: 15px;
        display: flex;
        justify-content: center;
        background: #fff;
        border-radius: 10px;
        width: 350px;
        transition: .2s ease-in-out;
    }
    .consultation-btn a{
        text-decoration: none;
        transition: .2s ease-in-out;
        color: #050505;
    }
    .consultation-btn:hover{
        background: #4D84FE;
    }
    .consultation-btn:hover a{
        color: #fff;
    }
    .right-consultation{
        color: #fff;
        margin-left: 20px;
    }
    .right-consultation i{
        margin-top: 30px;
    }
    .ri{
        margin-right: 10px;
    }
    #footer{
        padding: 100px 40px;
        background: url(/img/Rectangle\ 11.png) no-repeat center;
        background-size: cover; 
    }
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: left;
    }
    .first{
        width: 20%;
    }
    .first img{
        width: 80%;
        margin-bottom: 20px;
    }
    .footer ul li a{
        text-decoration: none;
        color: #050505;
    }
    .footer ul li{
        list-style: none;
        margin-top: 10px;
    }
    .second{
        width: 20%;
    }
    .third{
        width: 20%;
    }
    .forth{
        width: 20%;
    }
    .fifth{
        width: 20%;
    }
    .first ul li a i{
        color: #4043FF;
    }
    .first i{
        margin-right: 5px;
        font-size: 20px;
    }
    .fifth i{
        margin-left: 15px;
        font-size: 20px;
    }
    .footer h4{
        color: #4043FF;
        margin-bottom: 5px;
    }
    .fifth h4{
        margin-bottom: 20px;
    }
    .footer-btn{
        background: #014DF5;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        width: 200px;
        margin-top: 20px;
        justify-content: center;
        transition: .2s ease-in-out;
    }
    .footer-btn:hover{
        background: #0F42B4;
    }
    .footer-btn a{
        text-decoration: none;
        color: #fff;
    }
    .footer-text{
        color: #5A5A5A;
        margin-top: 30px;
    }
    @media screen and (max-width: 720px){
        .header{
            padding: 20px;
         }
        #sidenav{
            position: fixed;
            top: 0;
            right: 0;
            transition: .2s ease-in-out;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #2285E0;        
            height: 100%;
            width: 60%;
            opacity: 0.8;
        }
        #menu{
            display: block;
            text-align: left;
            margin-left: 30px;
            font-size: 22px;
            color: #5A5A5A;
            z-index: 1;
        }
        #sidenav  ul li{
            margin: 10px 0px;
        }
        #sidenav ul{
            flex-direction: column;
            margin-top: 100px;
        }
        #sidenav ul li a{
            color: #fff;
            font-size: 24px;
        }
        .center{
            display: none;
        }
        .right{
            display: none;
        }
        .left-txt{
            display: none;
        }
        .left-line{
            display: none;
        }
        .logo{
            width: 70%;
        }
        .logo img{
            width: 100%;
        }
        .consultation{
            flex-wrap: wrap;
            padding: 20px;
        }
        .right-consultation input{
            width: 200px;
            margin-top: 20px;
        }
        .consultation-btn{
            width: 200px;
        }
        .vibor{
            flex-wrap: wrap;
        }
        .main{
            padding: 0px 20px;
            flex-direction: column;
        }
        .right-main{
            width: 100%;
            margin-top: 20px;
        }
        .right-main img{
            width: 90%;
        }
        .left-main{
            width: 100%;
        }
        .left-main h1{
            font-size: 34px;
            max-width: 100%;
            line-height: 50px;
        }
        .left-main p{
            max-width:400px;
        }
        .main{
            flex-wrap: wrap-reverse;
        }
        .cena{
            padding: 10px;
        }
        .left-price{
            width: 80%;
        }
        #price{
            padding: 40px 20px;
        }
        .main-price{
            flex-wrap: wrap;
        }
        .price{
            width: 100%;
        }
        .price-1{
            width: 100%;
        }
        #uslugi{
            padding: 40px 20px;
        }
        .card{
            width: 80%;
            margin-top: 20px;
        }
        #raschet{
            padding: 40px 20px;
        }
        .raschet-btn{
            width: 200px;
        }
        .left-raschet input{
            width: 200px;
        }
        .raschet{
            flex-direction: column;
        }
        #about-us{
            padding: 40px 20px;
        }
        .about-us-txt h1{
            font-size: 30px;
        }
        .about-us-card{
            width: 80%;
        }
        #block{
            padding: 40px 20px;
        }
        .left-block{
            width: 60%;
        }
        .right-block{
            width: 100%;
            margin-top: 30px;
        }
        #consultation{
            padding: 40px 20px;
        }
        #vibor{
            padding: 40px 20px;
        }
        .left-vibor{
            width: 100%;
        }
        .right-vibor{
            width: 100%;
            margin-top: 30px;
            margin-left: 20px;
        }
        .right-vibor img{
            width: 80%;
        }
        .left-otziv-txt h1{
            font-size: 30px;
        }
        .otziv-txt {
            padding: 0px 10px;
        }
        #otziv{
            padding: 40px 20px;
        }
        .left-otziv{
            width: 100%;
        }
        .right-otziv{
            width: 100%;
            margin-top: 30px;
            margin-left: 0px;
        }
        .middle-otziv{
            width: 100%;
        }
        .video-card {
            width: 80%;
            margin-top: 20px;
        }
        .video-txt i{
         top: -26px;
         left: 99px;
        }
        .video-txt{
            margin-left: 3px;
        }
        .video-card img{
            width: 90%;
        }
        .can-card{
            margin-top: 20px;
        }
        .uslugi-txt h1{
            font-size: 30px;
        }
        #news{
            padding: 40px 20px;
        }
        .news{
            flex-wrap: wrap;
        }
        .right-news{
            flex-wrap: wrap;
        }
        .left-right-news {
            width: 90%;
            margin-top: 20px;
        }
        .right-right-news {
            width: 90%;
            margin-left: 0px;
            margin-top: 20px;
        }
        #footer{
            padding: 40px 20px;
        }
        .first, .second, .third, .forth, .fifth{
            width: 50%;
            margin-top: 10px;
        }
        .left-news img {
            width: 85%;
        }
        .left-news{
            width: 60%;
        }    
        .left{
            width: 50%;
        }
        .cena{
            width: 100%;
        }
        .list{
            margin-top: 10px;
            border: none;
        }
    }